*/bin
*/out
.idea/*
!.idea/
!.idea/fileTemplates/
!.idea/fileTemplates/*
!/.idea/codeStyles/
!/.idea/codeStyles*
*.iml
*.log
.DS_Store
.gradle
build
.classpath
.project
.settings
/bundles
/lib
target/*
*.class
deploy
*/releases/*
